html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  background-color:#2b2b2b;
}

span.highlight{
	color:#FD5AE8;
}

li{
	display:inline;
}

li a, li.link{
	display:inline;
	text-decoration:none;
	font-family: "Open Sans Condensed", "Open Sans", sans-serif;
	text-transform:uppercase;
  width: 100vw;
	text-align:center;
	color:#5AE8FD;
  padding-bottom: 50px;
}
.link{
  padding-right: 20px;
  padding-left: 30px;
}
li a{
  padding-left: 20px;
}


ul.menulinks{
	list-style:none;
  padding-left:0;
  padding-bottom:30px;
}

p {
  color:#808080;
  font-family: "Open Sans Condensed", "Open Sans", sans-serif;
  font-size: 13px;
  padding-bottom:20px;
}

li.link:hover{
color: #12506e;
}

ul.menulinks li a:hover {color: #12506e;}

ul.menulinks li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.menulinks li:not(:first-child) {display: none;}
  ul.menulinks li.icon {
    float: none;
    display: block;
  }
}

@media screen and (max-width:680px) {
  ul.menulinks.responsive {position: relative;}
  ul.menulinks.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.menulinks.responsive li {
    float: none;
    display: block;
  }
  ul.menulinks.responsive li a {
    display: block;
    text-align: left;
  }
}
.topimg{
	position:relative;
	max-width:100px;
	top:20vh;
}

img.bordered-circle{
	border-radius: 50% 50% 50% 50%;
	border: 2px solid white;
}

.top{
	align-content:center;
	height: 100vh;
}

div.top-content{
  text-align:center;
	}

h1{
	font-family: "Julius Sans One", "Poiret One", sans-serif;
	font-size: 45px;
	padding-bottom:20px;
	color:white;
	letter-spacing:5px;
	display: block;
	margin-top: 25vh;
	text-transform:uppercase;

}
h2{
	font-family: "Poiret One", "Open Sans", sans-serif;
	display: block;
	color:white;
	width:100vw;
	padding-bottom:50px;
	letter-spacing:4px;
	font-size:15px;

}


div.bottom{
	text-align:center;
	padding-top:25px;
	padding-bottom:60px;
}


div.content{
	padding-left:20px;
	padding-top:50px;
	display:inline-block;
	float:left;
	width:100vw;
	height:100vh;
	background-color:#FFFFFF;

}

.social{
  font-size:15px;
}
.social:hover{
  color: black;
}
.social li{
	display: inline-block;
	margin: 6px;
}
.social i{
	color: white;
  opacity: .5;
}
.social i:hover{
	opacity: 1;
}
.fa{
}
.fa:hover{
}
